@font-face {
    font-family: condensed-bold;
    src: url("./../../assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}

@font-face {
    font-family: condensed;
    src: url("./../../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}
.main-nav {
    background: #4703a6;
    padding-top: 1em;
    padding-bottom: 1em;
}

.color-purple-dark {
    color: #4703a6;
}

.color-white {
    color: white !important;
}

.color-black {
    color: #262626;
}

.bg-purple-dark {
    background: #4703a6;
    color: white;
}

.bg-purple-light {
    background: #b599f2;
}

.bg-gray-light {
    background: #eeeeee;
}
.bg-gray-dark {
    background: #404040;
}
.bg-black {
    background: #262626;
}
.bg-white-50 {
    background: rgba(255, 255, 255, 0.9);
}

h1 {
    color: #262626;
    font-size: 3.5rem;
    font-weight: 740;
    text-transform: capitalize !important;
    font-family: condensed-bold;
}

h2 {
    color: #262626;
    font-weight: 740;
    text-transform: capitalize !important;
    font-family: condensed-bold;
}

h4 {
    color: white;
    font-family: condensed;
}

p {
    font-family: condensed !important;
}
a {
    font-family: condensed !important;
}

h3 {
    color: #4703a6;
}

hr {
    color: #4703a6;
}

ul.before-arrow li::before {
    content: "\f105";
    font-family: 'Font Awesome 6 Free';
    color: white;
    margin-right: 1rem;
}

ul.before-arrow li {
    margin-top: 0.7rem;
    font-family: condensed !important;
}

#navbarNavDropdown li a {
    color: white;
}
.introduction {
    margin-top: 2.50rem;
    height: calc(100vh - 2.50rem);
    /*background-image: url("./../../assets/img/towers.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
    /*background-position: center top;*/
    /*background-attachment: fixed;*/
}

/*body::after {*/
/*    content: "";*/
/*    background-image: url("./../../assets/img/towers.png");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/
/*    background-position: bottom left;*/
/*    background-attachment: fixed;*/
/*    opacity: 0.05;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    position: fixed;*/
/*    z-index: -1;*/
/*}*/

body {
    background-color: #f7f7f7 !important;
}

section, .section {
    position:relative;
    z-index: 1;
    margin-bottom: 2rem;
}

#icons-link a {
    font-size: 3em;
    color: white;
}

footer {
    background: #4703a6;
    color: white;
}

footer h4,hr,a{
    color: white;
}
.boxed {
    border: #4703a6 1px solid;
    border-radius: 1rem;
}

#use-cases img {
    height: 15rem;
}

#use-cases .row {
    margin-bottom: 5rem !important;
}

#smart-grid img {
    height: 7rem;
}

#ready {
    background: #4703a6;
    border-radius: 2rem;
    padding: 3rem;
}

#ready h1 {
    color: white !important;
}

.btn {
    font-family: condensed !important;

}

.navbar-nav li {
    margin-right: 4rem;
    font-size: 1.5rem;
}