@font-face {
    font-family: condensed-bold;
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}

@font-face {
    font-family: condensed;
    src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}
.main-nav {
    background: white;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.1);
}

.color-purple-dark {
    color: #4703a6 !important;
}

.color-white {
    color: white !important;
}

.color-black {
    color: #262626;
}

.bg-purple-dark {
    background: #4702A6;
    color: white;
}

.bg-purple-light {
    background: #b599f2;
}

.bg-gray-light {
    background: #eeeeee;
}
.bg-gray-dark {
    background: #404040;
}
.bg-black {
    background: #262626;
}
.bg-white-50 {
    background: rgba(255, 255, 255, 0.9);
}

h1 {
    color: #262626;
    font-size: 60px;
    font-weight: 740;
    font-family: "Open Sans";
    margin-bottom: 20px;
}

.cut-word {
    overflow-x: hidden;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h2 {
    color: #262626;
    font-weight: 740;
    font-family: "Open Sans";
    font-size: 48px;
}

h4 {
    color: white;
    font-family: "Open Sans";
}

p {
    font-family: "Open Sans";
    font-size: 18px;
}
a {
    font-family: "Open Sans";
    text-decoration: none;

}
h3 {
    font-size: 36px;
    font-weight: bold;
}

hr {
    color: #4703a6;
}

ul.before-arrow li::before {
    content: "\f105";
    font-family: 'Font Awesome 6 Free';
    color: white;
    margin-right: 1rem;
}

ul.before-arrow li {
    margin-top: 0.7rem;
    font-family: condensed !important;
}
ul.before-arrow li.small {
    margin-top: 0.1rem;
    font-family: condensed !important;
    font-weight: 100;
}
#navbarNavDropdown li a {
    color: #000000;
    font-weight: 600;
}
#navbarNavDropdown li a.router-link-exact-active {
    color: #652cb4;
}
.introduction {
    margin-top: 10rem;
    /*min-height: calc(100vh - 2.50rem);*/
    /*height: calc(100vh - 2.50rem);*/
    flex-grow: 100;
    display:flex;
    /*background-image: url("./../../assets/img/towers.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
    /*background-position: center top;*/
    /*background-attachment: fixed;*/
}

/*body::after {*/
/*    content: "";*/
/*    background-image: url("./../../assets/img/towers.png");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 100%;*/
/*    background-position: bottom left;*/
/*    background-attachment: fixed;*/
/*    opacity: 0.05;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    position: fixed;*/
/*    z-index: -1;*/
/*}*/

body {
    background-color: white !important;
}

section, .section {
    position:relative;
    z-index: 1;
}

#icons-link a {
    font-size: 3em;
    color: white;
}

footer {
    background: #4703a6;
    color: white;
}

footer h4,hr,a{
    color: white;
}
.boxed {
    border: #4703a6 1px solid;
    border-radius: 1rem;
}

#how-it-works h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#how-it-works strong {
    margin-bottom: 10px;
    display: block;
}
#smart-grid, #how-it-works {
    padding-top: 80px;
}
#smart-grid img {
    height: 5rem;
    margin-top: 50px;
}
#smart-grid h2 {
    font-size: 1.2rem;
}


#ready {
    background: rgb(238 238 238);
    border-radius: 8px;
    padding: 5rem 0;
}

.btn {
    height: 50px;
    padding: 0 20px;
    align-items: center;
}
.navbar-nav li {
    margin-right: 2rem;
    font-size: 1.1rem;
}
.navbar-nav .locale.active {
    border-bottom: 2px solid #000000;
}
#about-us h2 {
    font-size: 48px;
}
#about-us .statement {
    background: rgb(238 238 238);
    padding: 50px;
    border-radius: 8px;
}
#about-us .statement strong {
    display: block;
    width: 80%;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
.btn:hover {
    background: rgba(71, 3, 166, 0.68);
    color: #ffffff;
}
.form-control {
    height: 50px;
    border-radius: 8px;
}
textarea.form-control {
    height: 100px;
}
.img-circle {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
}
.banner-image {

}
.ppa.introduction {
    margin-top: 2rem;
}
.features {
    text-align: center;
    height: 400px;
}
.features img {
    width: 32px;
    margin-bottom: 20px;
}
.functions img {
    width: 32px;
}
.reviews h1 {
    position: relative;
}
.reviews h1 img {
    position: absolute;
    width: 87px;
    top: -29px;
    left: -60px;
}
.reviews img.testimonials {
    max-width: 904px;
    width: 100%;
    justify-content: center;
    display: flex;
    margin: -93px auto 90px auto;
}
.introduction h1 {
    font-size: 48px;
}
@media screen and (max-width: 767px) {
    #how-it-works {
        text-align: center;
    }
    #how-it-works strong {
        display: inline;
    }
    #ready .button-container {
        justify-content: center !important;
    }
    .hidden-xs {
        display: none;
    }
    .contact-view h1 {
        margin-top: 7rem;
    }
    .img-circle {
        margin-top: 40px;
    }
    .ppa.introduction {
        text-align: center;
    }
    .ppa.introduction, .features {
        height: auto;
    }
    .ppa.introduction .button-container {
        justify-content: center;
    }
    .banner-image {
        width: 60%;
        margin: 3em auto;
    }
    .functions {
        text-align: center;
    }
    .functions img {
        margin: 20px 0;
    }
    .reviews h1 img {
        width: 60px;
        left: 0px;
        top: -18px;
    }
    .reviews img.testimonials {
        margin: 20px auto;
    }
    .menu-group {
        position: absolute;
        right: 20px;
    }
    .navbar-collapse {
        background: white;
        position: absolute;
        right: 0px;
        border: 1px solid #d2d2d2;
        padding: 10px;
        border-radius: 8px;
        width: 200px;
    }
    .navbar-collapse li {
        font-size: 12px;
    }
    .navbar button.calendly-btn {
        display: none;
    }
    h2, .functions h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
}
@media screen and (max-width: 992px) {
    .ppa.introduction {
        margin-top: 6rem;
    }
    h1, .introduction h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 32px;
    }
    .introduction img {
        width: 130% !important;
        margin-right: -100px;
    }
    .fs-3 {
        font-size: 28px !important;
    }

}
.calendly-btn {
    width: 240px;
}
.copyright {
    font-size: 13px;
}
footer p {
    font-size: 16px;
}
.functions-analysis .col-md-6 h3 {
    font-size: 32px;
    color: black;
    font-weight: bold;
}
.functions-analysis .col-md-6 {
    padding: 20px 30px;
}
.functions-analysis .col-md-6 div {
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 40px;
    margin-bottom: 20px;
    height: 100%;
    position: relative;
    align-self: stretch;

}
.functions-analysis .col-md-6 div img {
    width: 34px;
    position: absolute;
    bottom: 20px;
}
